body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(141, 141, 141);
}

.todo-list-container{
  text-align: center;
}

.todo-list-display{
  font-size: 40px;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.list{
  list-style-type: none;
}

button {
  padding: 7px 25px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.todo-list-add{
  background-color: rgb(21, 150, 21);
  margin-left: 5px;
  transition: 0.2s ease;
  padding: 10px 20px;
  font-size: 15px;
}

.todo-list-add:hover{
  background-color: rgb(2, 86, 2);
}

.todo-list-delete{
  background-color: red;
  transition: 0.2s ease;
}

.todo-list-delete:hover{
  background-color: rgb(136, 13, 13);
}

ol{
  padding: 0;
}

li{
  display: flex;
  margin-bottom: 10px;
  padding: 10px 60px;
  border: 2px solid rgb(196, 194, 194);
  justify-content: center;
  align-items: center;
  border-radius: 6px;
}

.text{
  flex: 1;
}

input[type="text"] {
  font-size: 16px;
  padding: 10px;
  border: 2px solid rgb(211, 210, 210);
  border-radius: 5px;
  color: black;
  margin-bottom: 10px;
}